<!DOCTYPE html>
<html>
<head>
	<title>Editing_Blog</title>
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css">
	<style type="text/css">
		form{
			padding: 10px;
			padding-top: 50px;
		}
		body{
			color: white;
			background-color: #4682b4;
		}
	</style>
</head>
<body>


	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	  <a class="navbar-brand" href="#">BLOG APP</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarNav">
	    <ul class="navbar-nav">
	      <li class="nav-item active active">
	        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
	      </li>
	      <li class="nav-item active">
	        <a class="nav-link" href="/blogs">Blogs</a>
	      </li>
	      <li class="nav-item active">
	        <a class="nav-link" href="/new_blog">New Post</a>
	      </li>
	      <li class="nav-item active">
	        <a class="nav-link" href="/new_messages">Contact us</a>
	      </li>
	    </ul>
	    <ul class="navbar-nav ml-auto">
    		<% if(!currentUser){ %>
	    		<li class="nav-item active">
	      			<a class="nav-link" href="/register">Register</a>
	    		</li>
	    		<li class="nav-item active">
	      			<a class="nav-link" href="/login">Login</a>
	    		</li>
    		<% }else{%>
	    		<li class="nav-item active">
	      			<a class="nav-link" href="/logout">Logout</a>
	    		</li>
	    		<li class="nav-item active">
	      			<a class="nav-link" href="/messages">Messages</a>
	    		</li>
    		<% }%>
    	</ul>
	  </div>
	</nav>




	<div>
		<div class="container">
			<form action="/blogs/<%= foundblog._id %>?_method=PUT" method="POST">
			  <legend>EDIT BLOG <%=foundblog.title%> </legend>
			  <div class="form-group">
			    <label for="img" >Image</label>
			    <input type="text" class="form-control" id="img" aria-describedby="emailHelp" placeholder="Image" name="blog[image]" value="<%=foundblog.image%>">
			    <small id="emailHelp" class="form-text text-muted">We'll never share your pic with anyone else.</small>
			  </div>
			  <div class="form-group">
			    <label for="title">Title</label>
			    <input type="text" class="form-control" id="title" placeholder="Title" name="blog[title]" value="<%=foundblog.title%>">
			  </div>
			  <div class="form-group">
			    <label for="exampleFormControlTextarea1">Description</label>
			    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Desciption" name="blog[body]"><%=foundblog.body%></textarea>
			  </div>
			  <button type="submit" class="btn btn-primary">Submit</button>
			</form>
		</div>
	</div>
</body>
</html>